div{
    text-align: left;
    line-height: 1.45em;
    font-family: Merriweather, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}

h1{
    text-align: center;
    font-family: FiraSans, sans-serif;
    color: Maroon;
    font-size: 30px;
    border: 5px solid lightgray;
    border-radius: 20px;
    background-color: white;
    width: 80%;
    padding: .5em;
    margin: auto;
}

h2{
    text-align: center;
    font-family: FiraSans, sans-serif;
    color: #0054dbcb;
    font-size: 30px;
    border: 5px solid #fffb91;
    border-radius: 20px;
    background-color: #f44b37;
    width: 80%;
    padding: .5em;
    margin: auto;
}

h3{
    text-align: center;
    font-family: FiraSans, sans-serif;
    color: #5c82a6;
    font-size: 30px;
    border: 5px solid #5c82a6;
    border-radius: 20px;
    background-color: #e0e2ee;
    width: 80%;
    padding: .5em;
    margin: auto;
}
h4{
    text-align: center;
    font-family: FiraSans, sans-serif;
    color:#f4e3d1;
    font-size: 30px;
    border: 5px solid #f4e3d1;
    border-radius: 20px;
    background-color: #607262;
    width: 80%;
    padding: .5em;
    margin: auto;
}


/* Start of menu */

header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: lightgray;
  font-family: Merriweather;
  text-transform: uppercase;
  margin-top: 0;
  height: 4.5em;
  width: 100%;
  text-align: center;
}


.menu-item {
  display: inline-block;
  margin: 1em .2em;
  min-width: 6em;
  text-align: center;
  background-color: white;
  padding: 0.5em 1em;
  color: #fff;
  text-decoration: none;
}


.menu-item a {
    color: black;
    text-decoration: none;
}
.menu-item:hover {
    background-color: white;
}


.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    margin-top: 0.5em;
    color: #000;
    background-color: #fff;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #baf0ef;
    background-color: #a2a2a2;
}

.site-name {
    float: left;
    padding-right: 1em;
    color: #1CCDCA;
}
.main-container {
    margin-top: 5em;
    padding: 1em;
    line-height: 1.4em;
}
.site-brand {
   margin-bottom: 2em;
   text-align: center;
   font-size: 150%;
}
