body{
    background-color:#91a1eb;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: rgb(255, 255, 255);
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #ffffff;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: rgb(0, 26, 255);
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: rgb(255, 255, 255);
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}